body{
    background-color: #212121;
    color:#fff;
}

h1{
    text-align: center
}

form{
   max-width: 20rem;
   margin: 0 auto;
   padding: 2rem;
   display: flex;
   gap: 1rem;
   flex-direction: column;
}

input{
    padding: 2rem
    margin-bottom: 2rem;
}

button{
    padding: 1rem;
    margin-top: 2rem;
    width: 6rem;
    height: 3rem;
    margin: 0 auto;
    background-color: pink;
    border-radius: 8px;
}